*~
/Teoria/Trabajos/Eficiencia/*.aux
/Teoria/Trabajos/Eficiencia/*.bbl
/Teoria/Trabajos/Eficiencia/*.blg
/Teoria/Trabajos/Eficiencia/*.lof
/Teoria/Trabajos/Eficiencia/*.log
/Teoria/Trabajos/Eficiencia/*.lot
/Teoria/Trabajos/Eficiencia/*.out
/Teoria/Trabajos/Eficiencia/*.gz
/Teoria/Trabajos/Eficiencia/*.toc
/P1/entregable/memoria/*.aux
/P1/entregable/memoria/*.bbl
/P1/entregable/memoria/*.blg
/P1/entregable/memoria/*.lof
/P1/entregable/memoria/*.log
/P1/entregable/memoria/*.lot
/P1/entregable/memoria/*.out
/P1/entregable/memoria/*.gz
/P1/entregable/memoria/*.toc